<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LecturerApprove</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/Lecturer/lecturer_approve.css" />
    <link rel="stylesheet" href="/public/css/Lecturer/lecturer_sidebar.css" />
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/views/leader/lecturer_sidebar.html" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="sidebar">
      <div class="logo-container">
        <a href=""
          ><img src="/public/img/mfu-logo.png" alt="MFU" height="100"
        /></a>
      </div>
      <nav class="navbar">
        <ul>
          <li>
            <a href="#" id="lechome"
              ><i class="fa fa-bar-chart"></i> Dashboard</a
            >
          </li>
          <li>
            <a href="#" id="lecass"
              ><i class="fa fa fa-list-alt"></i> Asset List</a
            >
          </li>
          <li>
            <a href="#" id="lecre"><i class="fa fa fa-list-alt"></i> Request</a>
          </li>
          <li>
            <a href="#" id="lechis"><i class="fa fa-history"></i> History</a>
          </li>
          <li>
            <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- <div class="container">
      
    </div> -->

    <div class="content">
      <div class="container-fluid">
        <div class="table-responsive">
          <h1 class="app mb-5">Approve</h1>
          <table class="table table-light table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Product</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="/public/js/leader/lec_app.js"></script>
</html>
