<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RolePage</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/role_page.css" />
    <script src="/public/js/bootstrap.bundle.min.js"></script>
  </head>

  <body class="body">
    <div class="container center-content">
      <form class="bg">
        <div class="row">
          <h1 class="text-center text-large mt-5">MFU ASSET BORROWING</h1>
          <div class="col mt-3">
            <div class="" onclick="UserClick()">
              <!-- <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank"> -->
              <div class="card">
                <div class="wrapper">
                  <img src="/public/img/uuu.png" class="cover-image" />
                </div>
                <!-- <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" /> -->
                <h1 class="title">User</h1>
                <img src="/public/img/uuu.png" class="character" />
              </div>
              <!-- </a> -->
            </div>
          </div>

          <div class="col mt-3">
            <div class="" onclick="StaffClick()">
              <!-- <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank"> -->
              <div class="card">
                <div class="wrapper">
                  <img src="/public/img/sss.png" class="cover-image" />
                </div>
                <!-- <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" /> -->
                <h1 class="title">Staff</h1>
                <img src="/public/img/sss.png" class="character" />
              </div>
              <!-- </a> -->
            </div>
          </div>

          <div class="col mt-3">
            <div class="" onclick="LeaderClick()">
              <!-- <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank"> -->
              <div class="card">
                <div class="wrapper">
                  <img src="/public/img/lll.png" class="cover-image" />
                </div>
                <!-- <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" /> -->
                <h1 class="title">Lecturer</h1>
                <img src="/public/img/lll.png" class="character" />
              </div>
              <!-- </a> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script src="/public/js/role_page.js"></script>
</html>
