<!-- <div class="sidebar">
  <div class="logo-container">
    <a href=""><img src="/public/img/mfu-logo.png" alt="MFU" height="100" /></a>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a href="#" id="staffhome"
          ><i class="fa fa-bar-chart"></i> Dashboard</a
        >
      </li>
      <li>
        <a href="#" id="staffass"
          ><i class="fa fa fa-list-alt"></i> Asset List</a
        >
      </li>
      <li>
        <a href="#" id="staffhis"
          ><i class="fa fa-history"></i> History</a
        >
      </li>
      <li>
        <a href="#" id="rolepage"
          ><i class="fa fa-sign-out"></i> Logout</a
        >
      </li>
    </ul>
  </nav>
</div> -->
